html
    include block/head
        title О нас
    body 
        include block/header
        main.page 
            h1 hello 
            img(src="@img/cover.jpg", alt="")
        include block/footer
        script(src="js/app.min.js")