section.main-block-wrap
  .container
    .main-block
      h1.main-block_title Big block
      //- exemplar connect image
      div 
        img(src="@img/cover.jpg", alt="")
      p ___________________________________________________________________________
      //- connect mixin
      +cat()
      //- div
      //-     img(src="@img/txt_icon.svg", alt="")
      p ___________________________________________________________________________
      //- connect icon
      div(class="icon-box")
          img(src="./images/icons/icons.svg#allergy-food-label-5-svgrepo-com" class="svg-basic-connection-internet-2-svgrepo-com-dims")
